* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url(../img/hero/Background\ pattern.svg);
    background-color: white;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.section-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    text-align: left;
    color: rgba(15, 23, 42, 1);
}

.section-header {
    background-color: rgba(242, 242, 247, 1);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {

    display: flex;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;

}

.nav-link {
    font-family: SF Pro, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.main-link {
    padding: 8px 16px;
    background-color: rgba(15, 23, 42, 1);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
}

/*header end*/


.hero {
    padding-top: 179px;
    padding-bottom: 170px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-info {
    max-width: 540px;
}

.hero-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(15, 23, 42, 1);
    margin-bottom: 12px;
}

.hero-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(71, 85, 105, 1);
    margin-bottom: 40px;
}

.hero-link {
    padding: 10px 24px;
    background-color: rgba(15, 23, 42, 1);
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: white;
    text-decoration: none;
}

.hero-img {
    max-width: 282px;
}

/*hero end*/

/*brend start*/

.brend {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: rgba(242, 242, 247, 1);
}

.brend-container {
    display: flex;
    justify-content: space-between;
}

/*brend end*/

/* service start */
.service {

    padding-top: 120px;
    padding-bottom: 72px;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
}

.service-left {
    position: sticky;
    top: 20px;

}

.service-header {
    background-color: rgba(242, 242, 247, 1);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.service-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    color: rgba(15, 23, 42, 1);
}

.service-list {
    padding-top: 40px;
}

.service-item {
    display: flex;
    align-items: start;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.service-list .service-item:last-child {
    border-bottom: none;
}

.servise-img {
    width: 52px;
}

.service-item-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
    padding-bottom: 8px;
}

.service-item-list {
    padding-left: 24px;
    list-style: disc;
}

.service-item-item {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

/* service end */

/* why us start */

.why-us {
    padding-top: 64px;
    padding-bottom: 64px;
}

.why-us-container {
    text-align: center;
}

.why-us-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

}

.why-us-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 64px;
    text-align: left
}

.why-us-col {
    border: 1px solid rgba(226, 232, 240, 1);
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border-radius: 24px;
    padding: 24px;

}

.why-us-col-img {
    width: 48px;
    margin-bottom: 32px;
}

.why-us-col-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    margin-bottom: 8px;
}

.why-us-col-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}

.why-us-link {
    display: inline-block;
}

/* why us end */

/* portfolio-start */
.portfolio {
    padding: 64px 0;
}

.portfolio-card-img {
    margin-bottom: 8px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;

}

.portfolio-card-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.portfolio-card-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

.portfolio-btn {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.swiper-button-next1 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1111;
    transform: translateY(-50%);
    cursor: pointer;
}

.swiper-button-prev1 {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1111;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
}

.mySwiper {
    position: relative;
    max-width: 1056px;
}

.portfolio-row {
    padding-left: 72px;
    padding-right: 72px;
}

/* portfolio end */

/* about start */
.about {
    padding-top: 60px;
    padding-bottom: 0;
}

.about-container {
    text-align: center;
}

.about-title {
    text-align: center;
    margin-bottom: 64px;
}

.about-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 64px;
    text-align: left;
}

.about-col {
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;
    padding: 32px;
}

.about-col-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    margin-bottom: 8px;
    color: rgba(15, 23, 42, 1);
}

.about-col-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

/* about end */

/*   <!--  commentary start  --> */
.commentary {
    padding-top: 120px;
    padding-bottom: 0;
}

.commentary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
}

.commentary-list {
    padding-top: 40px;
}

.commentary-item {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 24px;
    align-items: start;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.commentary-list .commentary-item:nth-child(3) {
    border-bottom: none;
}

.commentary-item-img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.commentary-item-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.commentary-item-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

.commentary-btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(15, 23, 42, 1);
    border: none;
    cursor: pointer;
}

/*   <!--  commentary end  --> */
.portfolio-cards {
    display: none;
}

.portfolio-card-btn {
    display: none;
}

/* contact start */
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 68px;
}

.contact-form {
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;
    padding: 24px;
    display: grid;
    gap: 24px;
}

.contact-item {
    display: grid;
    gap: 8px;
}

.contact-item-name {
    font-family: SF Pro, sans-serif;
    font-weight: Body/Font Weight Regular;
    font-style: Regular;
    font-size: Body/Size Medium;
    line-height: 140%;
    letter-spacing: 0%;

}

.contact-item-input {
    padding: 12px 16px;
    border-radius: 8px;
    background: var(--Background-Default-Default, rgba(255, 255, 255, 1));
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: 1px solid #d9d9d9;
}

.contact-form-btn {
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(15, 23, 42, 1);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
}

/* contact end */

/* footer start */
.footer {
    background-color: rgba(242, 242, 247, 1);
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-container {
    display: flex;
    align-items: start;

}

.footer-info {
    margin-right: auto;
}

.footer-logo {
    width: 173px;
    margin-bottom: 66px;
}

.footer-text {
    font-family: SF Pro, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(100, 116, 139, 1);
}

.footer-right {
    display: grid;
    gap: 16px;
    min-width: 200px;
}


.footer-container .footer-right:nth-child(2) {
    margin-right: 48px;
}

.footer-right-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.footer-right-list {
    display: grid;
    gap: 12px;

}

.footer-right-link {
    font-family: SF Pro, sans-serif;
    font-weight: 510;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(71, 85, 105, 1);
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

/* footer end */


/* header media */
@media (max-width: 768px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header-logo img {
        width: 82px;
    }

    .nav-list {
        display: none;
    }

    .main-link {
        padding: 8px 12px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 510;
    }
}

/* hero media */
@media (max-width: 768px) {
    .hero {
        padding-top: 80px;
        padding-bottom: 160px;
    }

    .hero-container {
        flex-direction: column-reverse;
        justify-content: start;
        text-align: left;
        align-items: start;
    }

    .hero-img {
        width: 120px;
        margin-bottom: 40px;

    }

    .hero-title {
        font-family: SF Pro, sans-serif;
        font-weight: 590;
        font-style: Semibold;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;
        margin-bottom: 8px;
    }

    .hero-text {
        font-family: SF Pro;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .hero-link {
        font-family: SF Pro, sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 24px;
    }
}

/* brend media */
@media (max-width: 970px) {
    .brend {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .brend-container {
        gap: 10px;
    }

    .brend-logo {
        height: 100%;
        max-height: 32px;
    }

    .brend-container .brend-logo:nth-child(2n) {
        display: none;
    }
}

/* servise media */
@media (max-width: 840px) {
    .service {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .service-container {
        grid-template-columns: 1fr;
    }

    .service-left {
        position: static;
    }

    .service-img {
        width: 44px;
    }

    .service-item {
        gap: 12px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .service-list {
        padding-top: 0;
    }

    .service-item-title {
        font-weight: 590;
        font-size: 18px;
        line-height: 28px;

    }

    .service-item-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

    }
}

/* section media */
@media (max-width: 768px) {

    .section-title {
        font-size: 20px;
        line-height: 28px;
    }

    .section-header {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 12px;
    }
}

/* why us media */
@media (max-width:980px) {
    .why-us-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:760px) {
    .why-us-row {
        grid-template-columns: 1fr;
    }

    .why-us {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .why-us-container {
        text-align: center;

    }

    .why-us-top {
        justify-content: start;
        align-items: start;
        margin-bottom: 24px;
    }

    .why-us-row {
        gap: 16px;
        margin-bottom: 24px;
    }

    .why-us-col {
        padding: 16px;
        border-radius: 20px;
    }

    .why-us-col-img {
        width: 44px;
        margin-bottom: 16px;
    }

    .why-us-col-title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .why-us-col-text {
        font-size: 14px;
        letter-spacing: 0%;

    }

    .why-us-link {
        padding: 14px 24px;
        font-family: SF Pro, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;

    }
}

/* portfolio media */
@media (max-width:1224px) {
    .portfolio-row {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:1200px) {
    .portfolio-row {
        display: none;
    }

    .portfolio-cards {
        display: flex;
        flex-direction: column;
        max-width: 516px;
        margin-left: auto;
        margin-right: auto;
        gap: 24px;
    }

    .portfolio-card-btn {
        display: inline-block;
    }

    .portfolio-more {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:557px) {
    .portfolio-card-img {
        margin-bottom: 12px;
        width: 342px;
    }

    .portfolio-card-title {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6%Ð¶
    }

    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

/* about media */
@media (max-width: 900px) {
    .about-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .about-row {
        gap: 16px;
        margin-bottom: 24px;
    }

    .about-title {
        text-align: left;
        margin-bottom: 24px;
    }

    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about-col {
        padding: 24px;
        border-radius: 20px;
    }

    .about-col-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .about-col-text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 540px) {
    .about-row {
        grid-template-columns: 1fr;
    }
}

/* commentary media */
@media (max-width: 768px) {
    .commentary {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .commentary-container {
        grid-template-columns: 1fr;

    }

    .commentary-list {
        padding-top: 0;
        margin-bottom: 0;
    }

    .commentary-item {
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 12px;
    }

    .commentary-item-img {
        width: 56px;
        height: 56px;
    }

    .commentary-item-title {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 8px;
    }

    .commentary-item-text {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;

    }
}

/* contact */
@media (max-width: 768px) {
    .contact {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .contact-form {
        padding: 16px;
        border-radius: 16px;
        gap: 16px;
    }

    .contact-form-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;

    }
}

/* footer media */
@media (max-width:768px) {
    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .footer-container {
        flex-direction: column;
        gap: 36px;
    }

    .footer-logo {
        width: 124px;
        margin-bottom: 16px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 24px;
    }

    .footer-container .footer-right:nth-child(2) {
        margin-right: 0;
    }
    .footer-right{
        gap: 12px;
    }
    .footer-right-title{
        font-size: 18px;
        line-height: 28px;
    }
    .footer-right-link{
        font-size: 16px;
        line-height: 24px;
    }
}