* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {

    display: flex;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;

}

.nav-link {
    font-family: SF Pro, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.main-link {
    padding: 8px 16px;
    background-color: rgba(15, 23, 42, 1);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
}

/*header end*/


.hero {
    padding-top: 179px;
    padding-bottom: 170px;
    background-image: url(../img/hero/Background\ pattern.svg);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-info {
    max-width: 540px;
}

.hero-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(15, 23, 42, 1);
    margin-bottom: 12px;
}

.hero-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(71, 85, 105, 1);
    margin-bottom: 40px;
}

.hero-link {
    padding: 10px 24px;
    background-color: rgba(15, 23, 42, 1);
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: white;
    text-decoration: none;
}
.hero-img{
    max-width: 282px;
}/*hero end*/

/*brend start*/

.brend {
    padding-top: 26px ;
    padding-bottom: 26px ;
    background-color: rgba(242, 242, 247, 1) ;
}
.brend-container {
    display: flex;
    justify-content: space-between;
}


/*brend end*/