* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-image: url(../img/hero/Background\ pattern.svg);
}
.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.section-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    text-align: left;
    color: rgba(15, 23, 42, 1);
}

.section-header {
    background-color: rgba(242, 242, 247, 1);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {

    display: flex;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;

}

.nav-link {
    font-family: SF Pro, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.main-link {
    padding: 8px 16px;
    background-color: rgba(15, 23, 42, 1);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
}

/*header end*/


.hero {
    padding-top: 179px;
    padding-bottom: 170px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-info {
    max-width: 540px;
}

.hero-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(15, 23, 42, 1);
    margin-bottom: 12px;
}

.hero-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(71, 85, 105, 1);
    margin-bottom: 40px;
}

.hero-link {
    padding: 10px 24px;
    background-color: rgba(15, 23, 42, 1);
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: white;
    text-decoration: none;
}

.hero-img {
    max-width: 282px;
}

/*hero end*/

/*brend start*/

.brend {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: rgba(242, 242, 247, 1);
}

.brend-container {
    display: flex;
    justify-content: space-between;
}

/*brend end*/

/* service start */
.service {

    padding-top: 120px;
    padding-bottom: 72px;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.service-left {}

.service-header {
    background-color: rgba(242, 242, 247, 1);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.service-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    color: rgba(15, 23, 42, 1);
}

.service-list {
    padding-top: 40px;
}

.service-item {
    display: flex;
    align-items: start;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.service-list .service-item:last-child {
    border-bottom: none;
}

.servise-img {
    width: 52px;
}

.service-item-info {}

.service-item-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
    padding-bottom: 8px;
}

.service-item-list {
    padding-left: 24px;
    list-style: disc;
}

.service-item-item {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

/* service end */

/* why us start */

.why-us {
    padding-top: 64px;
    padding-bottom: 64px;
}

.why-us-container {
    text-align: center;
}

.why-us-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

}

.why-us-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 64px;
    text-align: left
}

.why-us-col {
    border: 1px solid rgba(226, 232, 240, 1);
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border-radius: 24px;
    padding: 24px;

}

.why-us-col-img {
    width: 48px;
    margin-bottom: 32px;
}

.why-us-col-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    margin-bottom: 8px;
}

.why-us-col-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}

/* why us end */

/* portfolio-start */
.portfolio {
    padding: 64px 0;
}

.portfolio-card-img {
    margin-bottom: 8px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;

}

.portfolio-card-title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-style: Semibold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.portfolio-card-text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color:  rgba(51, 65, 85, 1);
}

.portfolio-btn{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next1{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1111;
    transform: translateY(-50%) ;
    cursor: pointer;
}
.swiper-button-prev1{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1111;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
}
.mySwiper{
    position: relative;
    max-width: 1056px;
}
.portfolio-row{
    padding-left: 72px;
    padding-right:72px;
}
/* portfolio end */